In [ ]:
#@title Aprendizaje Profundo | Otoño 2021 by Datitos{display-mode: "form" }
#@markdown ![71335171.png]()
#El siguiente notebook fue diseñado por Pablo Marinozi como el primer trabajo práctico correspondiente a la versión de Otoño del 2021 del curso Aprendizaje Profundo organizado por Datitos 
#Para mayor información consultar https://datitos.github.io/curso-aprendizaje-profundo/#calendario

# Trabajo Práctico N°1: Preprocesamiento y Manipulación de Datos

Este trabajo práctico tiene dos partes.

El objetivo de la primera es aprender cómo preprocesar datos usando la biblioteca `pandas`.

El objetivo de la segunda es realizar ejercicios para reforzar el manejo de tensores con `Pytorch`.

## Parte 0: Importar Librerías

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import torch

## Parte 1: Preprocesamiento de Datos

### Valores Faltantes

En esta sección del práctico vamos a trabajar con el dataset relacionado a la hepatitis. El siguiente código descarga el csv.

In [7]:
!wget https://drive.google.com/uc?id=1UmZdyg15LEmlNIqCbpQTChdpPKoHcru1
!mv uc?id=1UmZdyg15LEmlNIqCbpQTChdpPKoHcru1 data/hepatitis.csv

--2021-03-17 18:48:28--  https://drive.google.com/uc?id=1UmZdyg15LEmlNIqCbpQTChdpPKoHcru1
Resolving drive.google.com (drive.google.com)... 172.217.162.14, 2800:3f0:4002:809::200e
Connecting to drive.google.com (drive.google.com)|172.217.162.14|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-0o-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/5b0dapdteud013onp1gc91p1okrgnp8k/1616017650000/04218818404413865365/*/1UmZdyg15LEmlNIqCbpQTChdpPKoHcru1 [following]
Warning: wildcards not supported in HTTP.
--2021-03-17 18:48:29--  https://doc-0o-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/5b0dapdteud013onp1gc91p1okrgnp8k/1616017650000/04218818404413865365/*/1UmZdyg15LEmlNIqCbpQTChdpPKoHcru1
Resolving doc-0o-10-docs.googleusercontent.com (doc-0o-10-docs.googleusercontent.com)... 172.217.172.65, 2800:3f0:4002:802::2001
Connecting to doc-0o-10-docs.googleusercontent.com (doc-0o-10-docs.googleusercontent.com)|172.217.172.65|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15199 (15K) [text/csv]
Saving to: ‘uc?id=1UmZdyg15LEmlNIqCbpQTChdpPKoHcru1’

uc?id=1UmZdyg15LEml 100%[===================>]  14,84K  --.-KB/s    in 0,002s

2021-03-17 18:48:29 (6,10 MB/s) - ‘uc?id=1UmZdyg15LEmlNIqCbpQTChdpPKoHcru1’ saved [15199/15199]

En primer lugar, importe los datos del archivo utilizando la biblioteca de `pandas` y conviértalos en un dataframe con la funcion `read_csv()`. Luego, a través del método `head(10)` imprima por pantalla solo las primeras 10 filas del conjunto de datos.

In [77]:
df = pd.read_csv('data/hepatitis.csv')
df.head(10)

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live
5,34,female,True,False,False,False,False,True,False,False,False,False,False,0.9,95.0,28.0,4.0,75.0,False,live
6,51,female,False,False,True,False,True,True,False,True,True,False,False,NaN,NaN,NaN,NaN,NaN,False,die
7,23,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,NaN,NaN,NaN,False,live
8,39,female,True,False,True,False,False,True,True,False,False,False,False,0.7,NaN,48.0,4.4,NaN,False,live
9,30,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,120.0,3.9,NaN,False,live

Observamos que el dataset presenta algunos problemas. Por ejemplo, el valor de la columna `albumin` no está disponible para todas las filas. En algunos casos presenta el valor NaN, lo que significa que falta el valor.

Para verificar si nuestro dataset contiene valores faltantes, podemos usar la función `isna()`, que devuelve si una celda del conjunto de datos es NaN o no. Luego, deberemos contar cuántos valores faltantes hay para cada columna.

In [10]:
df.isna().sum()

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             1
malaise             1
anorexia            1
liver_big          10
liver_firm         11
spleen_palpable     5
spiders             5
ascites             5
varices             5
bilirubin           6
alk_phosphate      29
sgot                4
albumin            16
protime            67
histology           0
class               0
dtype: int64

Cuando se trata de valores faltantes, se pueden aplicar diferentes estrategias:

* ponerse en contacto con la fuente de datos para corregir los valores faltantes,
* eliminar los valores faltantes,
* reemplazar el valor faltante con algún valor y
* dejar el valor faltante como está.

La primera estrategia no siempre es factible y no creemos que necesiten nuestra ayuda para adoptar la última. En las siguientes subsecciones analizaremos las dos estrategias restantes.

#### Eliminar los valores faltantes

Hay dos maneras de eliminar los valores faltantes:

* eliminar las filas que contengan valores faltantes
* eliminar las columnas que los contengan.

Podemos usar `dropna()` para esta tarea especificando el eje a considerar. Si configuramos `axis=0`, descartamos toda la fila, si configuramos `axis=1`, descartamos toda la columna. 

Genere dos versiones nuevas del dataset utilizando la estrategia correspondiente en cada caso y analice los tamaños de los dataframes resultantes.

In [16]:
df_rm_rows = df.dropna(axis=0)
df_rm_cols = df.dropna(axis=1)

print(f'''Shape original: {df.shape}
Shape eliminando filas: {df_rm_rows.shape}
Shape eliminando columnas: {df_rm_cols.shape}''')

Shape original: (155, 20)
Shape eliminando filas: (80, 20)
Shape eliminando columnas: (155, 5)

Como alternativa, podemos especificar solo la columna en la que se debe aplicar la operación de dropping. En el siguiente ejemplo, solo se consideran las filas faltantes relacionadas con la columna `liver_big`. Esto se puede lograr a través del parámetro `subset`, que permite especificar el subconjunto de columnas donde aplicar la operación de dropping. Verifique si siguen existiendo valores NaN en el resto de las columnas.

In [78]:
df.dropna(subset=['liver_big'], axis=0, inplace=True)
df.isna().sum()

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             0
malaise             0
anorexia            0
liver_big           0
liver_firm          1
spleen_palpable     1
spiders             1
ascites             1
varices             1
bilirubin           4
alk_phosphate      24
sgot                2
albumin            13
protime            59
histology           0
class               0
dtype: int64

Otra alternativa consiste en eliminar las columnas en las que se dispone de un cierto porcentaje de valores no nulos. Esto se puede lograr mediante el parámetro `thresh`. Intente utilizar este parámetro para mantener solo las columnas donde haya al menos el 80% de valores no nulos.

In [79]:
df.dropna(thresh=int(0.2*len(df)), axis=1, inplace=True)

#### Reemplazar valores faltantes

Una buena estrategia a la hora de trabajar son valores faltantes implica su reemplazo por otro valor. Por lo general, se adoptan las siguientes estrategias:

* para valores numéricos, reemplazar el valor faltante con el valor promedio de la columna
* para valores categóricos, reemplazar el valor faltante con el valor más frecuente de la columna

Para averiguar el tipo de datos de las columnas podemos  usar el atributo `dtypes` de la siguiente manera

In [80]:
df.dtypes

age                  int64
sex                 object
steroid             object
antivirals            bool
fatigue             object
malaise             object
anorexia            object
liver_big           object
liver_firm          object
spleen_palpable     object
spiders             object
ascites             object
varices             object
bilirubin          float64
alk_phosphate      float64
sgot               float64
albumin            float64
protime            float64
histology             bool
class               object
dtype: object

Usando la función `select_dtypes()` podemos generar una lista que contenga los nombres de las columnas numéricas y otra que contenga los de la columnas categóricas filtrando por `np.number `y `np.object` respectivamente.

In [81]:
df.select_dtypes(include=np.number)

     age  bilirubin  alk_phosphate   sgot  albumin  protime
0     30        1.0           85.0   18.0      4.0      NaN
1     50        0.9          135.0   42.0      3.5      NaN
2     78        0.7           96.0   32.0      4.0      NaN
3     31        0.7           46.0   52.0      4.0     80.0
4     34        1.0            NaN  200.0      4.0      NaN
..   ...        ...            ...    ...      ...      ...
150   46        7.6            NaN  242.0      3.3     50.0
151   44        0.9          126.0  142.0      4.3      NaN
152   61        0.8           75.0   20.0      4.1      NaN
153   53        1.5           81.0   19.0      4.1     48.0
154   43        1.2          100.0   19.0      3.1     42.0

[145 rows x 6 columns]

In [82]:
df.select_dtypes(include=np.object)

,sex,steroid,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,class
0,male,False,False,False,False,False,False,False,False,False,False,live
1,female,False,True,False,False,False,False,False,False,False,False,live
2,female,True,True,False,False,True,False,False,False,False,False,live
3,female,NaN,False,False,False,True,False,False,False,False,False,live
4,female,True,False,False,False,True,False,False,False,False,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...
150,female,True,True,True,True,True,False,False,True,True,True,die
151,female,True,True,False,False,True,True,False,False,False,False,live
152,female,False,True,True,False,False,True,False,True,False,False,live
153,male,False,True,False,False,True,False,True,True,False,True,live
154,female,True,True,False,False,True,False,True,True,True,False,die

En todos los casos podemos usar la función `fillna()` para reemplazar los valores faltantes con algún valor pasado como parámetro. En el caso de las variables numéricas deberíamos reemplazarlo por la media (`mean()`) y en el caso de las variables categóricas por la moda (`mode()`). Al finalizar, comprobar si aun quedan valores faltantes en el dataset.

In [97]:
df.loc[:, df.select_dtypes(np.number).columns] = df.select_dtypes(np.number).fillna(df.mean())

In [99]:
df.loc[:, df.select_dtypes(np.object).columns] = df.select_dtypes(np.object).fillna(df.mode())

age                0
sex                0
steroid            1
antivirals         0
fatigue            0
malaise            0
anorexia           0
liver_big          0
liver_firm         1
spleen_palpable    1
spiders            1
ascites            1
varices            1
bilirubin          0
alk_phosphate      0
sgot               0
albumin            0
protime            0
histology          0
class              0
dtype: int64

In [92]:
df.fillna(df.select_dtypes(include=np.object).mode().iloc[0]

sex                female
steroid              True
fatigue              True
malaise             False
anorexia            False
liver_big            True
liver_firm          False
spleen_palpable     False
spiders             False
ascites             False
varices             False
class                live
Name: 0, dtype: object

In [66]:
df[df.select_dtypes(include=np.object).isna().sum(axis=1) > 0]

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
83,67,male,False,False,True,True,False,True,False,NaN,NaN,NaN,NaN,1.5,179.0,69.0,2.9,NaN,False,live
148,20,female,False,False,False,False,False,True,NaN,False,False,False,False,0.9,89.0,152.0,4.0,NaN,True,live

### Normalización de los datos

La normalización de datos implica ajustar los valores medidos en diferentes escalas a una escala común. Cuando se trata de dataframes, la normalización de datos permite ajustar valores referidos a diferentes columnas a una escala común. Esta operación es muy recomendable cuando las columnas de un dataframes se van a usar como features de entrada de un algoritmo de aprendizaje automático, ya que impide que el algoritmo le asigne mayores pesos a las features de mayor escala.

La normalización se aplica solo a las columnas que contienen valores numéricos. Existen cinco métodos de normalización:

* single feature scaling
* min max
* z score
* escala logaritmica
* clipping

En el resto del práctico, aplicamos cada método a una sola columna. Sin embargo, si vas a utilizar cada columna del conjunto de datos como features de entrada de un algoritmo de aprendizaje automático, ***tenés que aplicar el mismo método de normalización a todas las columnas***.

En esta sección vamos a usar el dataset provisto por la Protezione Civile Italiana relacionado a los casos de COVID-19 registrados desde el inicio de la pandemia. Este dataset se actualiza diariamente y ell siguiente código se encarga de descargarlo.

In [ ]:
df_italia = pd.read_csv('https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-regioni/dpc-covid19-ita-regioni.csv')
df_italia.head(10)

A continuación elimine todas las columnas que contengan valores faltantes.

In [ ]:
#inserte su código aquí

#### Single Feature Scaling

Este método convierte cada valor de una columna en un número entre 0 y 1. El nuevo valor se calcula como el valor actual dividido por el valor máximo de la columna. Implementelo en la columna `tamponi`

In [ ]:
#inserte su código aquí

#### Min Max

De manera similar al método anterior, Min Max convierte cada valor de una columna en un número entre 0 y 1. El nuevo valor se calcula como la diferencia entre el valor actual y el valor mínimo, dividido por el rango de los valores de la columna. Implementelo para la columna `totale_casi`

In [ ]:
#inserte su código aquí

#### Z Score

Z-Score convierte cada valor de una columna en un número alrededor de 0. Los valores típicos obtenidos por una transformación de z-score oscilan entre -3 y 3. 

El nuevo valor se calcula como la diferencia entre el valor actual y el valor promedio, dividido por la desviación estándar. El valor promedio de una columna se puede obtener a través de la función `mean()`, mientras que la desviación estándar a través de la función `std()`. 

Implementelo para la columna ```deceduti```

In [ ]:
#inserte su código aquí

La siguiente función dibuja un gráfico de caja con los datos que recibe para poder observar su distribución. Utilicela pasando la versión normalizada de la columna `deceduti` del dataset como parámetro.

In [ ]:
def boxplot(data):
  fig = plt.figure(figsize =(5, 5)) 
  plt.boxplot(data)
  plt.show()

#inserte su código aquí

En el gráfico de caja anterior se puede observar que a partir de cierto valor de Z los valores son outliers o valores anómalos.

La siguiente función también realiza un gráfico de caja, pero antes filtra todos los valores outliers en base a un parámetro threshold. Llame a la función pasando la versión normalizada de la columna `deceduti` del dataset como parámetro `data`. Además elija un valor para el parámetro `threshold` de manera de eliminar todos los outliers del dataset.

In [ ]:
def boxplot_sin_outliers(data,threshold):
  outliers = np.where((data - threshold > 0), True, np.where(data + threshold < 0, True, False))
  data_sin_outliers = data[~outliers]
  fig = plt.figure(figsize =(10, 7)) 
  plt.boxplot(data_sin_outliers )
  plt.show()

#inserte su código aquí

#### Escala logarítmica

Acá básicamente aplicamos la función `log()` a toda la columna. Implemente esta normalización para la columna `dimessi_guariti` Hay que tener cuidado porque el logaritmo de 0 está indeterminado. Les recomendamos utilizar [funciones lambda](https://www.kite.com/python/answers/how-to-use-an-if-statement-in-a-lambda-function-in-python) para sortear esta restricción.

In [ ]:
#inserte su código aquí

## Parte 2: Manipulación de Datos

Repasá lo visto en la clase 2 sobre manipulación de tensores e intentá resolver los siguientes ejercicios.

Primero generemos un tensor de 28x28 llenado con el valor 0.25 en todas sus celdas. Luego generemos un segundo tensor de 28x28 con el valor 0.5 y otro con el valor 0.75

In [ ]:
#inserte su código aquí

Ahora concatene los 3 tensores en uno solo de dimensión 3X28X28

In [ ]:
#inserte su código aquí

Transformar el tensor anterior para que tenga 6 canales en lugar de 3. Organice las filas y columnas a su gusto.

In [ ]:
#inserte su código aquí

Devolver el valor de la suma de cada canal por separado. (Recordemos que en los vectores tridimensionales la forma es (canales, filas, columnas)

In [ ]:
#inserte su código aquí

Llenar la primera fila de cada canal con ceros y llenar el quinto canal con unos. Volver a generar las sumas para cada canal.

In [ ]:
#inserte su código aquí

Generar otro tensor con la misma forma que el anteriores, pero lleno de valores aleatorios.

In [ ]:
#inserte su código aquí

Concatenar ambos tensores tridimensionales en un tensor de cuatro dimensiones.

In [ ]:
#inserte su código aquí

Generar un tercer tensor tridimensional que sea la resta de los otros dos y concatenarlo al tensor de cuatro dimensiones.

In [ ]:
#inserte su código aquí